[Unit]
Description=Report VM is ready to Azure API
After=network.target network-setup.service
Requires=network-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/azure-complete-provisioning
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=minimal.target