[Unit]
Description=Setup Persistent Storage
DefaultDependencies=no
After=local-fs-pre.target
Before=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "if [ -e /dev/vda ] && ! blkid /dev/vda | grep -q 'TYPE=\"ext4\"'; then mkfs.ext4 -F /dev/vda; fi"
ExecStart=/bin/sh -c "mkdir -p /persistent"
ExecStart=/bin/sh -c "mount /dev/vda /persistent || echo 'Failed to mount persistent storage'"
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target