[Unit]
Description=Wait for Persistent Directory Mount
DefaultDependencies=no
Conflicts=shutdown.target
Before=minimal.target
After=local-fs-pre.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'until grep -q " /persistent " /proc/mounts; do sleep 1; done'
RemainAfterExit=yes

[Install]
WantedBy=minimal.target
