[Unit]
Description=SSH Public Key Server
After=ssh-pubkey-server.service
Requires=ssh-pubkey-server.service

[Service]
Type=simple
ExecStart=cvm-reverse-proxy --listen-addr=0.0.0.0:8745 \
            --target-addr=http://localhost:5001 \
            --server-attestation-type=azure-tdx
Restart=always
RestartSec=5

[Install]
WantedBy=minimal.target