[Unit]
Description=Lighthouse Consensus Client
After=network.target network-setup.service persistent-mount.service
Requires=network-setup.service persistent-mount.service

[Service]
Type=exec
User=lighthouse
Group=eth
ExecStartPre=+/usr/bin/lighthouse-init
ExecStartPre=+/bin/mkdir -p /persistent/lighthouse_logs
ExecStartPre=+/bin/chown lighthouse:eth /persistent/lighthouse_logs
ExecStartPre=+/bin/chmod 755 /persistent/lighthouse_logs
ExecStart=/usr/bin/lighthouse bn \
		--network mainnet \
		--execution-endpoint http://localhost:8551 \
		--execution-jwt /tmp/jwt.hex \
        --checkpoint-sync-url https://mainnet.checkpoint.sigp.io \
		--disable-deposit-contract-sync \
		--datadir "/persistent/lighthouse" \
        --disable-optimistic-finalized-sync \
        --disable-quic \
        --logfile-dir /persistent/lighthouse_logs \
        --logfile-format JSON \
        --logfile-debug-level debug \
        --logfile-max-number 5 \
        --logfile-max-size 100 \
		--logfile-no-restricted-perms
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=minimal.target