[Unit]
Description=Searcher Log Reader
After=persistent-mount.service
Requires=persistent-mount.service

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /run/delayed_logs
ExecStartPre=-/bin/rm -f /run/delayed_logs/delay.sock
ExecStart=/bin/sh -c "ncat -U --listen --keep-open --delay 120s /run/delayed_logs/delay.sock > /persistent/delayed_logs/output.log"
Restart=always

[Install]
WantedBy=minimal.target