{
    "bidding_service_download": {
        "github_token": "",
        "config": ""
    },
    "fluentbit": {
        "aws_access_key_id": "",
        "aws_secret_access_key": ""
    },
    "rbuilder": {
        "coinbase_secret_key": "",
        "dry_run": "true",
        "optimistic_relay_secret_key": "",
        "relay_secret_key": "",
        "top_bid_ws_basic_auth": "",
        "top_bid_ws_url": ""
    },
    "rclone": {
        "access_key_id": "",
        "bucket_endpoint": "",
        "secret_access_key": ""
    }
}