[Unit]
Description=Lighthouse Consensus Client
After=network.target network-setup.service persistent-mount.service
Requires=network-setup.service persistent-mount.service

[Service]
Type=exec
User=lighthouse
Group=eth
ExecStartPre=+/usr/bin/lighthouse-init
ExecStart=/usr/bin/lighthouse bn \
    --eth1 \
    --checkpoint-sync-url https://mainnet.checkpoint.sigp.io \
    --execution-endpoint http://localhost:8551 \
    --execution-jwt /tmp/jwt.hex \
    --suggested-fee-recipient 0x000000000000000000000000000000000000dead \
    --http-allow-sync-stalled \
    --always-prepare-payload \
    --prepare-payload-lookahead 8000 \
    --disable-deposit-contract-sync \
    --http \
    --port 9000 \
    --http-port 3500 \
    --metrics \
    --metrics-address 127.0.0.1 \
    --metrics-port 5054 \
    --datadir /persistent/lighthouse
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=minimal.target