[Unit]
Description=Reth Chain Data Sync
After=network.target network-setup.service persistent-mount.service
Requires=network-setup.service persistent-mount.service

[Service]
User=reth
Group=eth
Type=oneshot
ExecStart=/usr/bin/reth-sync
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=minimal.target