bidding_service_ipc_path = "/var/run/rbuilder/rpc_bidding_server.sock"
blocklist_file_path = "/persistent/rbuilder/rbuilder.blocklist.json"
blocks_processor_url = "https://orderflow-archive.flashbots.net/api"
chain = "mainnet"
cl_node_url = ["http://127.0.0.1:3500"]
coinbase_secret_key = "{{rbuilder.coinbase_secret_key}}"
dry_run = {{rbuilder.dry_run}}
dry_run_validation_url = "http://127.0.0.1:9999"
el_node_ipc_path = "/tmp/reth.ipc"
error_storage_path = "/tmp/rbuilder_errors.sqlite"
extra_data = "{{rbuilder.extra_data}}"
full_telemetry_server_ip = "127.0.0.1"
full_telemetry_server_port = 6060
ignore_blobs = false
ignore_cancellable_orders = false
jsonrpc_server_ip = "127.0.0.1"
jsonrpc_server_port = 8645
live_builders = ["mgp-ordering", "mp-ordering", "mp-ordering-cb", "mp-ordering-deadline"]
log_color = false
log_json = true
log_level = "info,rbuilder=debug"
max_concurrent_seals = 1
optimistic_enabled = false
relay_secret_key = "{{rbuilder.relay_secret_key}}"
reth_db_path = "/persistent/reth/db"
reth_static_files_path = "/persistent/reth/static_files"
root_hash_task_pool_threads = 6
root_hash_use_sparse_trie = true
sbundle_mergeabe_signers = ["0xFC171C46A32DC7fF09fBDDD4884a65b2aD596517"]
simulation_threads = 4
top_bid_ws_basic_auth = "{{rbuilder.top_bid_ws_basic_auth}}"
top_bid_ws_url = "{{rbuilder.top_bid_ws_url}}"
watchdog_timeout_sec = 45

[[builders]]
algo = "ordering-builder"
discard_txs = true
drop_failed_orders = true
failed_order_retries = 1
name = "mgp-ordering"
sorting = "mev-gas-price"

[[builders]]
algo = "ordering-builder"
discard_txs = true
drop_failed_orders = true
failed_order_retries = 1
name = "mp-ordering"
sorting = "max-profit"

[[builders]]
algo = "ordering-builder"
build_duration_deadline_ms = 30
discard_txs = true
drop_failed_orders = true
failed_order_retries = 1
name = "mp-ordering-deadline"
sorting = "max-profit"

[[builders]]
algo = "ordering-builder"
coinbase_payment = true
discard_txs = true
drop_failed_orders = true
failed_order_retries = 1
name = "mp-ordering-cb"
sorting = "max-profit"

[[builders]]
algo = "merging-builder"
discard_txs = true
merge_wait_time_ms = 300
name = "merging"
num_threads = 3
