[Unit]
Description=Delayed Searcher Log Writer
After=searcher-log-reader.service
Requires=searcher-log-reader.service

[Service]
Type=simple
ExecStartPre=/bin/sudo -u searcher touch /persistent/searcher_logs/bob.log
ExecStart=/bin/sh -c "tail -F -n0 /persistent/searcher_logs/bob.log | ncat -U /run/delayed_logs/delay.sock"
Restart=always

[Install]
WantedBy=minimal.target